@import "variables";
@import "mixins";

.header {
  @include mobile {
    height: 70px;
  }
  @include container();
  @include flexBox-between();
  width: 100%;
  height: 80px;
  background-color: $color-white;

  &__leftContent {
    @include mobile {
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    &__burger {
      display: none;
      @include mobile {
        display: flex;
        height: 16px;
      }
    }

    a {
      img {
        @include mobile {
          height: 20px;
        }

        height: 32px;
        width: auto;
        object-fit: contain;
      }
    }
  }

  &__rightContent {
    @include flexBox-between();
    background-color: $color-white;
    height: 100%;
    gap: 20px;

    &__item {
      @include mobile {
        border: none;
        padding: 0;
      }
      @include flexBox-center();
      border: $border;
      border-radius: 12px;
      padding: 14px;
      cursor: pointer;

      img {
        height: 20px;
        width: auto;
      }

      &:hover {
        background-color: $color-background;
      }
      &__cart {
        @include mobile {
          border: none;
          padding: 0;
        }
        @include flexBox-center();
        border: $border;
        border-radius: 12px;
        padding: 14px;
        cursor: pointer;
        position: relative;
        &__count {
          @include mobile {
            top: -15px;
            right: -15px;
          }
          position: absolute;
          top: -5px;
          right: -5px;
          background-color: $color-red;
          border-radius: 11px;
          width: 20px;
          height: 20px;
          @include flexBox-center();
          font-family: $font-family;
          font-size: 12px;
          color: $color-white;
        }
        &:hover {
          background-color: $color-background;
        }
      }
      &__flag {
        @include mobile {
          display: none;
        }
        @include flexBox-center();
        border: $border;
        border-radius: 12px;
        padding: 14px;
        cursor: pointer;

        img {
          height: 20px;
          width: auto;
        }

        &:hover {
          background-color: $color-background;
        }
      }
    }

    &__user {
      @include mobile {
        border: none;
        padding: 0;
        gap: 0;
        width: auto;
      }
      @include flexBox-between();
      background-color: $color-white;
      border: $border;
      border-radius: 12px;
      padding: 14px;
      width: 160px;
      gap: 24px;
      cursor: pointer;

      img {
        height: 20px;
        width: auto;
      }

      &__leftContent {
        @include flexBox-center();
        gap: 10px;

        img {
          height: 20px;
          width: auto;
        }

        span {
          @include mobile {
            display: none;
          }
          display: block;
          max-width: 70px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: $font-family;
          font-size: 14px;
          color: $color-dark-gray;
        }
      }

      &__rightContent {
        @include mobile {
          display: none;
        }
        @include flexBox-center();
        display: block;
        img {
          height: auto;
          width: 9px;
        }
      }

      &:hover {
        background-color: $color-background;
      }
    }
  }
}
