@import "variables";

@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin flexBox-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexBox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: 1267px;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin input {
  border: $border;
  border-radius: 10px;
  background-color: $color-white;
  padding: 0 20px;
  height: 50px;
  font-family: $font-family-medium;
  font-size: 16px;
  color: $color-black;
  &::placeholder {
    color: $color-gray-light;
  }
}
