// Colors

$color-background: #fafafb;
$color-border: #f1f1f5;
$color-white: #ffffff;
$color-black: #171725;
$color-dark-gray: #696974;
$color-shadow-black: #00000005;
$color-background-black: #0000004d;
$color-gray-light: #92929d;
$color-gray-lighter: #f5f5f8;
$color-green: #99cc66;
$color-red: #ff4d4d;
$color-dark-green: #003333;

// Fonts

$font-family: "TKT-Regular";
$font-family-medium: "TKT-Medium";

// Border

$border: 1px solid $color-border;
